a:link { color: #007BFF; }
a:visited { color: purple; }
a:hover { color: #0056b3; }
a:active { color: red; }

.nav-menu {
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0;
}

.nav-menu li {
  margin: 10px 0;
}
